:root {
--bgcolor: whitesmoke;
--color1: #e0d9cc;
--color2: #283047;
--color3: #b75615;
--color4: #61564d;
--color5: #c89656;
--font1: Arial, Helvetica, sans-serif
}

@media only screen and (min-width: 768px) {
    html {
        font-family:var(--font1);
        font-size: large;
        overflow: hidden;
        align-items: center;
    }
    
    h1 {
        color: var(--color3);
    }
     
    h2 {
        color: var(--color3);
        font-size: small;
    }
    
    body {
        display: inline-block;
        min-height: 100%;
        justify-content: center;
    }
    
    header, footer {
        padding: 18px;
        border-radius: 1%;
        display: flex;
        z-index: 2;
        min-width: 100%;
        background-color: var(--bgcolor);
    }
    
    header {
        position: fixed;
        top: 0;
        height: 8%;
        border-bottom-color: var(--color1);
        border-bottom: 2px;
        border-bottom: solid;
        justify-content: space-evenly;
    }
    
    footer {
        border-top-color: var(--color1);
        border-top: 2px;
        border-top: solid;
        min-width: 98%;
        height: 4%;
        position: absolute;
        bottom: 0;
    }
    
    .navigation-bar {
        padding: 0px 18px;
        display: flex;
        flex-wrap: nowrap;
    }
    
    
    .navigation {
        border-radius: 6%;
        width: fit-content;
        background-color: var(--color2);
        padding: 0px 8px;
        margin: 2px;
    }
    
    .home {
        border: none;
        background-color: whitesmoke;
    }
    
    a:link {
        color: whitesmoke;
        background-color: transparent;
        text-decoration: none;
      }
    
    a:visited {
        color: var(--color3);
        background-color: transparent;
        text-decoration: none;
      }
    
    .first-article {
        padding: 60px;
        height: auto;
        margin-bottom: 4%;
      }
    
    .main-body {
        overflow-y: scroll;
        margin-top: 100px;
        position: absolute;
        height: 88%;
        align-items: center;
    }
    
    .bg-image {
        display: block;
        position: absolute;
        width: 100%;
        opacity: 0.10;
        z-index: -1;
    }
    
    .video {
        min-width: 100%;
        opacity: 90%;
    }
    
    .bio {
        display: flex;
        align-items: center;
        justify-content: center
    }
    
    .bio-image {
        border-radius: 50%;
        width: 250px;
        height: 250px;
        margin: 20px;
    }
}

html {
    font-family:var(--font1);
    font-size: large;
    overflow: hidden;
    align-items: center;
}

h1 {
    color: var(--color3);
}
 
h2 {
    color: var(--color3);
    font-size: small;
}

.bg-image {
    display: block;
    position: absolute;
    width: 100%;
    opacity: 0.10;
    z-index: -1;
}