:root {
--bgcolor: whitesmoke;
--color1: #e0d9cc;
--color2: #283047;
--color3: #b75615;
--color4: #61564d;
--color5: #c89656;
--font1: Arial, Helvetica, sans-serif
}

@media only screen and (max-width: 768px) {
    html {
        font-family:var(--font1);
        font-size: large;
        overflow: hidden;
        align-items: center;
    }
    
    h1 {
        color: var(--color3);
    }
     
    h2 {
        color: var(--color3);
        font-size: small;
    }
    
    #bg-image {
        display: block;
        position: absolute;
        width: 100%;
        opacity: 0.10;
        z-index: -1;
    }
    
}

html {
  font-family:var(--font1);
  font-size: large;
  overflow: hidden;
  align-items: center;
}

h1 {
  color: var(--color3);
}
 
h2 {
  color: var(--color3);
  font-size: small;
}

body {
  display: inline-block;
  min-height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
}

header, footer {
  padding: 18px;
  border-radius: 1%;
  display: flex;
  z-index: 2;
  min-width: 100%;
  background-color: var(--bgcolor);
}

header {
  position: fixed;
  top: 0;
  height: 8%;
  border-bottom-color: var(--color1);
  border-bottom: 2px;
  border-bottom: solid;
  justify-content: space-evenly;
}

footer {
  border-top-color: var(--color1);
  border-top: solid 2px;
  min-width: 98%;
  height: 4%;
  position: absolute;
  bottom: 0;
}

.navigation-bar {
  padding: 0px 18px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-link {
  border-radius: 6%;
  width: fit-content;
  background-color: var(--color2);
  padding: 0px 8px;
  margin: 2px;
}

li {
  list-style: none;
}

.home {
  border: none;
  background-color: whitesmoke;
}

a:link, .nav-link {
  color: var(--bgcolor);
  text-decoration: none;
}

a:visited {
  color: var(--bgcolor);
  text-decoration: none;
}

.first-article {
  padding: 60px;
  height: auto;
  margin-bottom: 4%;
}

.main-body {
  overflow-y: scroll;
  margin-top: 100px;
  position: absolute;
  height: 88%;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#bg-image {
  display: block;
  position: absolute;
  opacity: 0.10;
  z-index: -1;
  object-fit: cover;
}

.video {
  min-width: 100%;
  opacity: 90%;
}

.bio {
  display: flex;
  place-items: center;
}

#bio-miguel {
  animation: fade-in 1s;
}

#bio-xabi {
  animation: fade-in 3s;
}

#bio-footer {
  animation: fade-in 5s;
}

.bio-image {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 20px;
}

#contact-form {
  display: inline-block;
  width: 100%;
}

#contact-form *{
    margin: 8px auto;
}

.form-wrap {
  display: flex;
  justify-content: center;
  width: 25%;
}

html {
  font-family:var(--font1);
  font-size: large;
  overflow: hidden;
  align-items: center;
}

h1 {
  color: var(--color3);
}

h2 {
  color: var(--color3);
  font-size: small;
}

#bg-image {
  display: block;
  position: absolute;
  width: 100%;
  opacity: 0.10;
  z-index: -1;}

.bio p{
  color: var(--color2)
}

#offers-grid {
  display: flex;
  justify-content: space-evenly;
}

.offer {
  margin: 5px;
  max-height: 80vh;
  border: 1px solid var(--color2);
  animation: fade-in 1s;
}

#GBM-image {
    width: 30%;
    border-radius: 50%;
    border: 1px solid var(--color4);
}

.centered {
    display: flex;
    justify-content: center;
}

@keyframes fade-in {
  0% {
      opacity: 0%;
  }

  100% {
      opacity: 100%;
  }
}